<div class="row">
  <div class="container">
    <div class="col s12">

      <h2><%= t('devise.passwords.forget') %></h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, t('devise.passwords.change_it') %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" title="Você pode voltar ao login por aqui!">
  <%= link_to :back, class: 'btn-floating btn-large blue' do %>
    <i class="large mdi-navigation-arrow-back"></i>
  <% end -%>
</div>
