<!DOCTYPE html>
<html>
<head>
  <title>Rede Leve</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="//developer.appear.in/scripts/appearin-sdk.0.0.4.min.js"></script>
<%= javascript_include_tag 'application' %>
</body>
</html>
